body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f4f4f4;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
.title {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #3cb371;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    line-height: 40px;
}
.title p {
    margin-left: 10px;
}
.PicOne {
    position: absolute;
    top: 3px;
    right: 10px;
}
.PicOne img {
    width: 100px;
    height: 35px;
}
.navi_bar{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #00b8b7;
    /*text-align: center;*/
    font-size: 18px;
    font-weight: lighter;
    line-height: 40px;
}
.navi_bar a{margin-left: 8px;font-weight: lighter;color: #ffffff;border-radius: 30px;
    background: #00b8b7;
    margin-top: 1px;
    padding: 0px;
    width: 172px;
    height: 37px;
    position: absolute;
text-align: center}
.navi_bar c{margin-left: 0px;font-weight: lighter;color: #ffffff;}
.navi_bar b{margin-left: 240px;font-weight: lighter;position: absolute}
.pos{margin-top: 15px;
    margin-left: 4px;
    border-radius: 25px;
    border: 2px solid #e1dfdf;
    background: #ffffff;
    padding: 20px;
    position: absolute;
    width: 85%;
    height: 170px;
    text-decoration:none;}
.fontpos{margin-left: 12px;position:absolute;margin-top:15px;text-decoration:none;}
.fontpos c{font-weight:bold;font-size:18px;margin-top:5px;margin-left:-20px;position:relative;text-decoration:none;}
.pos img{margin-left:-18px;margin-top: 52px;width: 40px;
    height: 100px;float: left;position:absolute;}
.res a{float:right;font-weight:lighter;font-size:16px;margin-left: 34px;position:absolute;margin-top:56px;position: absolute}
.onVac img{margin-left:198px;margin-top: 17px;width: 120px;
    height: 120px;float: right;position:absolute;}
.banner img{margin-left:-22px;margin-top: 154px;width: auto;
    height: 39px;position:absolute;}
body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #eeeef0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}